<section id="boxes">
    <div class="container">
      <div class="box">
<section class="addlist">
<div class="mainadder">
  <h1><span class="highlight">To Do </span><span style="font-size:1.4em;">l</span>ist</h1>
  <p style="font-style:italic;"><span style="font-size:2.8em;"> “</span> Today, I will do what others won't . . . so, tomorrow I can do what others can't ~~ Jerry Rice</p>
 <div class="container" style="margin-top:30px;">
  <input type="text" placeholder="Add your Task Here" #box (keyup.enter)="pushItem(box.value); box.value=''">
</div>
</div>

</section>
</div>
<div class="box">
    <div id="container" [@listAnimation]="items.length">
<div class="in-container" *ngFor="let item of items;let i = index"><i class="far fa-square" (click)="moveItem(i)" style="margin-right:10px;"></i>
  
 <span id="{{item}}" ><i  class="far fa-trash-alt" (click)="removeItem(i)" style="float:right;margin-right:10px;"></i><i  class="fas fa-pencil-alt" *ngIf="!onState" (click)="editItem(i,item)" style="float:right;margin-right:10px;"></i>{{ item }}</span>
<span *ngIf="editState && itemToEdit==i"><input type="text" name="editor" #edits value="{{item}}" /><i  class="far fa-save" (click)="updateItem(edits.value,i)" style="float:right;margin-right:10px;"></i></span>
</div>
<div class="out-container" *ngFor="let doneitem of doneitems;let j = index"><i class="far fa-check-square" (click)="moveDoneItem(j)" style="margin-right:10px;"></i>
  
  <span id="{{doneitem}}" ><i  class="far fa-trash-alt" (click)="removedoneItem(j)" style="float:right;margin-right:10px;"></i><i  class="fas fa-pencil-alt" *ngIf="!onState" (click)="editdoneItem(j,doneitem)" style="float:right;margin-right:10px;"></i>{{ doneitem }}</span>
 <span *ngIf="doneEditState && doneItemtoEdit==j"><input type="text" name="editor" #doneedits value="{{doneitem}}" /><i  class="far fa-save" (click)="updatedoneItem(doneedits.value,j)" style="float:right;margin-right:10px;"></i></span>
 </div>
</div>
</div>
</div>
</section>